.button {
    display: block;
    width: 172px;
    height: 37px;    
    border-radius: 19px;
    background-color: #d8ad47;
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 17px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    margin-top: 18px;
    &:hover {
        box-shadow: 0 0 9px #d8ad47;
    }
}