.contacts {
    height: 516px;
    padding-top: 73px;
    background: url("../img/contacts-bg.jpg") center (center/cover) no-repeat;
    &__subtitle {
        padding-top: 22px;
        color: #ffffff;
        font-family: "Poiret One";
        font-size: 16px;
        font-weight: 400;
    }
    &__location {
        margin-top: 22px;
        margin-right: 145px;
    }
    &__data {
        padding-top: 14px;
    }
    &__item {
        display: flex;
        align-items: center;
        padding-top: 27px;
        color: $lait-color;
        font-family: "Poiret One";
        font-size: 16px;
        font-weight: 400;
        span {
            margin-left: 11px;
        }
    }
}

.map {
    margin-right: 45px;
}